[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyo = "*"
wxpython = "*"
adafruit-circuitpython-veml7700 = "*"
adafruit-blinka = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3"
